
 body {
      font-family: Arial, sans-serif;
      background-color: rgba(0, 0, 0, 0.6);
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      margin: 0;
    }

    .contact-container {
      background-color: rgba(20, 20, 30, 0.9);
      padding: 30px;
      padding-right:50px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      width: 100%;
      max-width: 400px;
      text-align: center;
    }

    .contact-container h2 {
      margin-bottom: 20px;
      color: #ffda6a;
    }

    .contact-container input,
    .contact-container textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
    }

    .contact-container button {
      
      padding: 10px;
      background-color: #dc8629;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      margin-bottom: 10px;
    }

    .contact-container button:hover {
      background-color: #555;
    }

    .thank-you {
      margin-top: 10px;
      color: rgb(230, 203, 34);
      font-weight: bold;
      display: none; /* Hidden by default */
    }

    .back-button {
      background-color: #888;
      text-decoration: none;
      display: inline-block;
      padding: 10px;
      border-radius: 4px;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
    }

    .back-button:hover {
      background-color: #e9d9c4;
    }